[package]
name = "serial_proxy"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.36.0", features = ["full"] }
tokio-serial = { version = "*", features = ["libudev"] }
tokio-util = { version ="0.7",default-features=false,features = ["codec"] }
tokio-stream = { version = "*", features = ["full"] }

bytes = { version="1",default-features=false,features = []  }
log = "0.4.14"                                           # for logging
simplelog = "*"                                          # for logging
env_logger = "0.11.0"
chrono = "0.4.19"                                        # for time
regex="*"
serde = { version = "1.0", features = ["derive"] }
minicbor = { version = "0.24.0", features=["derive","alloc","half"] }
cobs={ version = "0.2.3", default-features=false,features = [] }
crc = { version = "3.0.1", features = [] }
zenoh = { version="*" }
mqtt-async-client = "0.3.1" # for mqtt
fred = { version="9.0.3",features=["full-tracing"]}

byte = { version="0.2.7"}
bitfield = "0.15.0"

[features]
default_features=["linux"]
linux=[]
esp32=[]
embassy=[]