# runner = "espflash --monitor  /dev/ttyUSB0" # Select this runner for espflash v2.x.x
[build]
target = "xtensa-esp32-espidf"

[target.xtensa-esp32-espidf]
linker = "ldproxy"
rustflags = ["--cfg", "espidf_time64"]

[env]
ESP_IDF_SDKCONFIG_DEFAULTS = ".github/configs/sdkconfig.defaults"
ESP_IDF_VERSION = "v5.2.2"

[unstable]
build-std = ["std", "panic_abort"]