[package]
name = "zenoh-broker"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version="*",  features = ["rt-multi-thread", "time", "io-std"] }
clap = {  version="4.5.23", features = ["derive"] }
zenoh = { version="1.1.0" }
zenoh-util  = { version="*" }
minicbor  = { version="0.25.1", features =["alloc","half"] }
log  = { version="*" }
chrono = "0.4.39"                                        # for time
env_logger = "0.11.6"
serde_json = "1.0.64"


[features]
shared-memory = ["zenoh/shared-memory"]
unstable = ["zenoh/unstable"]
transport_unixpipe = ["zenoh/transport_unixpipe"]

