[package]
edition = "2021"
name = "zenoh-brain"
version = "0.1.0"

[dependencies]


# image = {version = "0.25.5"}# For decoding JPEG
# zune-jpeg = {version = "0.4.14"}

anyhow = "1.0.44"
chrono = "0.4.39"
env_logger = "0.11.6"
log = "0.4.14"
minicbor = {version = "0.25.1", default-features = false, features = ["alloc", "half","derive"]}
minicbor-derive = {version = "*", default-features = false, features = ["alloc"]}
mlua = {version = "0.10.3", default-features = false, features = ["lua54", "vendored", "send"]} 
serde = {version = "1.0.130", features = ["derive"]}
serde_derive = "1.0.130"
serde_json = "1.0.68"
tokio = {version = "1.0.0", features = ["full"]}
zenoh = {version = "1.3.4"}
zenoh-plugin-rest = "1.3.4"
strfmt = {version = "*"}

[features]

default = ["serde"]
serde = []
